* {
    position: relative;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.btn__up {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 60px;
    right: 30px;
    width: 56px;
    height: 56px;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid rgba($color: rgba(161, 159, 159, 0.849), $alpha: 0.2);
        &:hover {
            background-color: rgba($color: rgba(161, 159, 159, 0.849), $alpha: 0.2);
            transition: all 0.3s;
        }
    &-link {
        display: block;
        margin: 15px auto;
    }
    &-img {
        display: block;
        margin: auto;
        width: 22px;
        height: 20px;
    }
}