.header {
    z-index: 5;
    position: relative;
    &__bluebg {
        background-color: $main-color;
    }
    &__contacts {
        height: 33px;
        padding: 3px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        text-align: right;
        &__link {
            margin-left: 15px;
        }
    } 
    &__menu {
        position: absolute;
        background-color:#fff;
        height: 200px;
        padding: 5px 0;
        width: 100%;
        overflow: hidden;
        &-short {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            height: 60px;
            transition: top 0.5s;
            box-shadow: 0px 0px 5px 0px #E2E2E2;
        }
        &-hidden {
            position: fixed;
            height: 60px;
            top: -60px;
            transition: top 0.5s;
        }
    } 
    &__logo {
        display: block;
        width: 190px;
        height: 190px;
        img {
            height: 100%;
        } 
        &-short {
            width: 50px;
            height: 50px;
        }
    }
    &__nav {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:#fff;
        
        &-list {
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style-type: none;
        }
        &-link {
            margin: 0 17px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            text-decoration: none;
            font-size: 13px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            color: #000;
            cursor: pointer;
            &:hover {
                color:#000;
                text-decoration: none;
            }
        }
    }
    &__parallax {
        z-index: -1;
        margin-top: 200px;
        padding: 15px;
        height: calc(100vh - 230px);
        background-image: url('../img/bg.jpg');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__title {
        position: fixed;
        top: 40%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 50%);
        width: fit-content;
        font-family: 'Amatic SC', sans-serif;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: 1px;
        color:#fff;
        background-color: rgba(25, 36, 101, 0.5)
    }
    &__subtitle {
        position: fixed;
        top: calc(40% + 100px);
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 50%);
        display: block;
        width: fit-content;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        letter-spacing: 1px;
        color:#fff;
        background-color: rgba(25, 36, 101, 0.5)
    }
}
@media (max-width: 1140px) {
    .header {
        &__logo{
            width: 150px;
            height: 150px;
            &-short {
                width: 50px;
                height: 50px;
            }
        }
        &__menu {
            height: 160px;
            &-hidden {
                position: fixed;
                height: 60px;
                top: -160px;
            }
            &-short {
                height: 60px;
            }
        }
        &__nav {
            &-link {
                margin: 0 13px;
            }
        }
        &__parallax {
            margin-top: 160px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__nav-link {
        margin: 0 7px;
        }
        &__title {
            font-size: 46px;
            line-height: 46px;
            text-align: center;
        }
        &__subtitle {
            font-size: 20px;
            top: calc(40% + 80px);
            text-align: center;
        }
    }
}
@media (max-width: 768px) {
    .container {
        width: 500px;
    }
    .header {
        &__nav {
            &-list {
                flex-flow: wrap;
                justify-content: flex-end;
            }
        }
        &__title {
            font-size: 36px;
            line-height: 36px;
        }
        &__subtitle {
            font-size: 17px;
            top: calc(40% + 60px);
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 300px;
    }
    .header {
        &__nav {
            &-list { 
                flex-flow: unset;
                flex-direction: column;
                justify-content: center;
            }
            &-link {
                line-height: 10px;
            }
        }
    }
}