.tarifs {
    z-index: 4;
    background-color:#FFF;
    padding: 80px 0 30px 0;
    &__grid {
        padding-top: 20px;
        display: grid;
        grid-template-rows: repeat(2, minmax(280px, auto));
        grid-template-columns:repeat(2, minmax(280px, auto));
        row-gap: 95px;
    }
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0 15px;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            height: 67px;
            border-bottom: 1px solid #e7e7e7;
        }
        &-title {
            font-family: 'Ubuntu Condensed', sans-serif;
            font-size: 25px;
            text-transform: uppercase;
            color: #666666;
        }
        &-name {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            color: #303030;
        }
        &-price {
            font-size: 18px;
            color: #303030;
        }

    }

}
@media (max-width: 1140px) {
    .tarifs {
        &__list {
            &-name {
                width: 250px;
            }
        }
    }
}

@media (max-width: 992px) {
    .tarifs {
        &__grid {
            row-gap: 50px;
        }
        &__list {
            &-title {
                font-size: 23px;
            }
            &-name {
                font-size: 14px;
                width: 200px;
            }
            &-price {
                font-size: 16px;
                text-align: center;
            }
        }
    }
}
@media (max-width: 768px) {
    .tarifs {
        padding: 50px 0 20px 0;
        &__grid {
            grid-template-rows: repeat(2, minmax(280px, auto));
            grid-template-columns: 100%;
        }
        &__list-item {
            height: 45px;
        }
    }
}