.title {
    display: block;
    color: $main-color;
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3846em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    &::after {
        content: '';
        background-color: #303030;
        height: 1px;
        width: 22px;
        display: block;
        margin: 25px auto 50px;
        text-align: center;
    }
    &_horaire {
        font-weight: 600;
        &:hover {
            color: #1abc9c;
            text-decoration: none;
        }
    }
}
.italic {
    font-style: italic;
}
.title_white {
    color:#fff;
    &::after {
        content: '';
        background-color: #fff;
    }
}